In [1]:
# 수열

In [12]:
n=3 > 1,3,3 => 7
n=4 > 1,3,3,3 => 10
n=5 > 1,3,3,3,3 => 13

SyntaxError: cannot assign to comparison (1403143738.py, line 1)

In [9]:
seq(5)

5
4
3
2
1

13

In [28]:
def seq2(n):
    result = 1
    for n in range(1,n):
        result += 3  #여기는 3씩 더해준다라는 말임
    return result

In [ ]:
# 3 => 1, 3, 3
# 4 => 1, 3, 3, 3, 10

In [30]:
seq2(4)

10

In [57]:
# 피보나치 -> 앞의 숫자와 더하는 것을 말한다.
# F1 = 1
# F2 = 2 
# F3 = F1+F2 = 1+2 = 3
# F4 = F2+F3 = 2+3 = 5
# F5 = F3+F4 = 3+5 = 8
# F6 = F4+F5 = 5+8 = 13
# ... 이런식으로 계속 이어지는 것을 피보나치수열 이라고 한다. 
# 1, 1, 2, 3, 5, 8 . . .

In [43]:
# 이건 재귀를 사용한 것 인가? (else 가 들어가면은 재귀를 사용하는 것) - 재귀함수임
def fib(n):
    if (n<=2) : return 1
    else : return (fib(n-1)+fib(n-2))

In [53]:
fib(9)

34

In [61]:
# 얘는 재귀를 사용하지 않는 것 인가? - 비재귀함수임
def fib2(n):
    t = [1]*n
    for i in range(2, n):
        t[i] = t[i-1] + t[i-2]
    return t[-1]

In [62]:
fib2(6)

8

In [ ]:
# 팩토리얼

In [63]:
#n! => 3! => 3*2*1

SyntaxError: invalid syntax (1015698390.py, line 1)

In [66]:
def fact(n):   #비재귀함수로 구현한것임
    tmp = 1
    for i in range(2, n+1):
        print(f"i:{i}")
        tmp = i * tmp
    return tmp

In [67]:
fact(4)

i:2
i:3
i:4

24

In [70]:
def fact2(n):
    if n==0 : return 1 
    else : return n*fact2(n-1)

In [71]:
fact2(4)

24

In [ ]:
# 선택정렬

In [81]:
def selectionSort(A, n):  #비재귀함수를 사용했음
    for i in range(n):
        max_len = n-i
        max_num=0
        max_num_index=0
        for i in range(max_len):
            if A[i] > max_num :
                max_num = A[i]
                max_num_index = i
        
        tmp = A[max_len-1]
        A[max_len-1] = A[max_num_index]
        A[max_num_index] = tmp
    return A
#        print(n-i)

In [83]:
A = [32, 65, 23, 44]
selectionSort(A, 4)

[23, 32, 44, 65]

In [74]:
A = [1,3,4,2]

In [76]:
len(A)

4

In [77]:
selectionSort(A, len(A))

4
3
2
1

In [ ]:
# 내가 혼자 연습해보는거

In [58]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
    
for i in range(1,15):
    print(fibonacci(i))

1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [ ]:
# 자료구조를 파이썬으로 어떻게 사용하길래 이런걸 알려주는거지?? 
# 자료구조에서 어떤식으로 파이썬을 저런 명령어를 사용하는지 궁금하네

In [6]:
def fib(n):
    if (n = 1 or n = 2)
        return 1 
    else
        return fib(n-1) + fib(n-2)

SyntaxError: invalid syntax (1849424223.py, line 2)